[user]
	email = cliffano@gmail.com
	name = Cliffano Subagio
	signingkey = A851A8D5CD5C0F65
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpsign = true
	gpgsign = true
[credential]
	helper = osxkeychain
